*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#myskills{
    font-size: 30px;
}
#map {
    height: 400px;
    padding-right: 200pxpx;
    width: 100%;
    /* The width is the width of the web page */
  }
header{
    width: 100%;
    height: 100vh;
    background: url('../images/b1.png') ,url('../images/bg1.jpeg');
    background-size: 50% 100%, cover;
    background-position: right, center;
    background-repeat: no-repeat, no-repeat;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
    background-attachment: fixed;
}

.logo{
    color: white;
    font-size: 30px ;
    padding-left: 100px;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px,20px;
    margin: 5px;
    font-size: 20px;
   
    font-weight: bold;

}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo span{
    color: #e74c3c;
}

.menu a:hover{
    background: #e74c3c ;
    transition: 0.4;
}
.text{
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    max-width: 450px;
}
.text h1{
    font-size: 50px;
    margin: 10px, 0px;
}

.text p{
    font-size: 25px;
}

.c-btn{
    border: none;
    outline: none;
    color: white;
    background: #e74c3c;
    padding: 10px;
    margin-top: 20px;
}

#about{
    padding: 100px 50px;
}

.section_info{
    font-weight: bold;
    text-align: center;
}

.section_info h1{
    font-size: 50px;
}

.section_info p{
    font-size: 25px;
    color: #e74c3c;
}


.about-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.about-left-col{
    flex-basis: 50%;
}

.about-left-col img{
    width: 100%;
    padding: 50px;
}

.about-right-col{
    flex-basis: 50%;
}

#p-title{
    font-size: 20px;
    font-weight: bold;
}


.about-right-col p{
    font-size: 20px;
    text-align: justify;
}


#skills{
    padding: 100px 50px;
    background: url("../images/bg2.jpg");
    background-size: cover;
    color: white;
    background-attachment: fixed;
}


.skills-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(45,52,54);
    padding: 50px;
}


.skill-left-col{
    flex-basis: 50%;
    text-align: justify;
}
.skill-left-col p{
    font-size: 20px;
}
.skill-right-col{
    flex-basis: 50%;
}


progress{
    width: 80%;
}

.progress-div{
    width: 70%;
    margin: auto;
}

.progress-div p{
    margin-bottom: 10px;
    font-size: 20px;
    padding-left: 80px;
    text-align: justify;

}

#services{
    padding: 100px 50px;
}

.serices-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.services-box{
    flex-basis: 25%;
    text-align: center;
    box-shadow: 2px 3px 5px gray;
    padding: 20px;
    margin-top: 20px;

}

.services-box:hover{
    background-color: #e74c3c;
    color: white;
    transition: 0.4;
}
.services-box img{
    width: 60%;
}

#contact{
    padding: 100px 50px;
    background: linear-gradient(160deg, #e74c3c 45%, white 0% );
}
.contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-col{
    flex-basis: 50%;
}

.contact-right-col{
    flex-basis: 50%;

}

.contact-right-col form{
    text-align: center;
}

.contact-right-col form h2{
    margin-bottom: 20px;
}
.contact-right-col form input{
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-right-col form textarea{
    width: 60%;
    padding: 10px;
}
#footer{
    background: #e74c3c;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

#sidenav{
    display: none;
}
@media only screen and (max-width: 770px){
    #sidenav{
      position: fixed;
      top: 0;
      right: 0;
      width: 0;
      height: 100vh;
      background: rgba(0,0,0,0.8);
      padding: 100px 0px;
      transition: 0.4s;
      display: block;
    }

    #sidenav a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin: 10px 30px;
        padding: 20px;
        display: block;
    }
    #sidenav a:hover{
        background: #e74c3c;
        transition: 0.4s;
    }
    header{
        background: url('../images/bg1.jpeg');
        background-size: cover;
    }
    .menu a{
        display: none;
    }

    .logo{
        padding-left: 100px;
    }
    .text{
        margin-left: 50px;
    }

    .about-left-col{
        flex-basis: 100%;
    }
    .about-right-col{
        flex-basis: 100%;
    }
    .skill-left-col{
        flex-basis: 100%;
    }
    .skill-right-col{
        flex-basis: 100%;
    }
    .progress{
        width: 100%;
    }

    .progress-div{
        width: 100%;
        margin:auto
    }
    .progress-div p{
        margin-bottom: 10px;
        font-size: 20px;
        padding-left: 20px;
        text-align: justify;
    }
    .services-box{
        flex-basis: 100%;
        margin-top: 20px;
    }

    .services-box img{
        width: 60%;
    }
    .contact-left-col{
        flex-basis: 100%;
    }
    .contact-right-col{
        flex-basis: 100%;
    }
    #munebar{
        position: fixed;
        top: 10px;
        left: 50px;
        width: 50px;
        cursor: pointer;
    }
}
    